CF_DNS_API_TOKEN={{ vault_cloudflare_api_token }}
CF_API_EMAIL={{ vault_cloudflare_email }}
CLOUDFLARE_DNS_API_TOKEN={{ vault_cloudflare_api_token }}
CLOUDFLARE_ZONE_API_TOKEN={{ vault_cloudflare_api_token }}
CLOUDFLARE_EMAIL={{ vault_cloudflare_email }}
